<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="计算巢是阿里云开放给企业应用服务商的服务管理平台。服务商能够在计算巢上发布私有化部署服务，为其客户提供云上软件一键部署的能力；同时也支持全托管模式的服务，赋能服务商托管其客户资源。">
  <title>Mllm instructions - Aliyun 计算巢 x Demo</title>

  <link rel="shortcut icon" href="../../img/favicon.ico">

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="../../css/theme.css">
  

  

  
  

  
    <script src="../../search/main.js"></script>
  

  

  <script src="../../js/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>
  <div class="container">
    <div class="nav">
      <div class="nav-inner">
        <div class="logo">
          <img src="./img/logo-2x.png">
        </div>
        <div class="nav-list">
          <ul>
          
              <li><a href="#_1">使用说明</a></li>
              
                  <li><a href="#api">API调用</a></li>
                  
                      <li class="li-h3"><a href="#curl">Curl命令调用</a></li>
                  
                      <li class="li-h3"><a href="#python">Python调用</a></li>
                  
              
                  <li><a href="#web">Web应用</a></li>
                  
              
          
          </ul>
        </div>
      </div>
    </div>
    <div class="content theme-github">
      
      <div class="content-inner">        
        
        <h2 id="_1">使用说明</h2>
<p>在完成模型部署后，可以在计算巢服务实例概览页面看到模型的使用方式，里面提供了Api调用示例、内网访问地址、公网访问地址（开启公网访问后会有）和Api_Key，下面会分别介绍如何访问使用。</p>
<p><img alt="img.png" src="../../image-cn/img-llm-use-desc.png" /></p>
<h3 id="api">API调用</h3>
<h4 id="curl">Curl命令调用</h4>
<p><img alt="img.png" src="../../image-cn/img-api-call.png" /></p>
<p>Curl命令调用可以直接使用服务实例概览页面中的Api调用示例，调用模型API的具体结构如下：</p>
<p>${ServerIP}可以填写内网地址或公网地址中的IP地址，${ApiKey}为ApiKey，${ModelName}为模型名称。</p>
<p>其中的image_url参数既可以使用http url进行指定，如https://modelscope.oss-cn-beijing.aliyuncs.com/resource/qwen.png，也可以使用base64编码格式的图片内容，下面示例中使用了base64编码格式的图片内容。</p>
<pre><code class="language-shell">curl -X Post http://${ServerIP}:8000/v1/chat/completions \
    -H &quot;Content-Type: application/json&quot; \
    -H &quot;Authorization: ${ApiKey}&quot; \
    -d '{
        &quot;model&quot;: &quot;${ModelName}&quot;,
        &quot;messages&quot;: [
        {
            &quot;role&quot;: &quot;system&quot;,
            &quot;content&quot;: &quot;You are a helpful assistant.&quot;
        },
        {
            &quot;role&quot;: &quot;user&quot;,
            &quot;content&quot;: [
                {
                    &quot;type&quot;: &quot;image_url&quot;,
                    &quot;image_url&quot;: {
                        &quot;url&quot;: f&quot;data:image/jpeg;base64,&lt;图片的 base64 编码格式&gt;&quot;
                    },
                },
                {
                    &quot;type&quot;: &quot;text&quot;,
                    &quot;text&quot;: &quot;How many sheep are there in the picture?&quot;
                }
            ]
        }
        ]
    }'
</code></pre>
<h4 id="python">Python调用</h4>
<p>以下为 Python 示例代码： 其中${ApiKey}需要填写页面上的ApiKey；${ServerUrl}需要填写页面上的公网地址或内网地址，需要带上/v1。</p>
<pre><code class="language-python">import base64

import requests
from openai import OpenAI

##### API 配置 #####
openai_api_key = &quot;${ApiKey}&quot;
openai_api_base = &quot;${ServerUrl}&quot;

client = OpenAI(
    api_key=openai_api_key,
    base_url=openai_api_base,
)

models = client.models.list()
model = models.data[0].id


def encode_base64_content_from_url(content_url: str) -&gt; str:
    &quot;&quot;&quot;Encode a content retrieved from a remote url to base64 format.&quot;&quot;&quot;

    with requests.get(content_url) as response:
        response.raise_for_status()
        result = base64.b64encode(response.content).decode(&quot;utf-8&quot;)

    return result


def infer_image():
    image_url = &quot;https://qianwen-res.oss-cn-beijing.aliyuncs.com/QVQ/demo.png&quot;

    stream = True

    image_base64 = encode_base64_content_from_url(image_url)

    chat_completion_from_base64 = client.chat.completions.create(
        messages=[
            {
                &quot;role&quot;: &quot;user&quot;,
                &quot;content&quot;: [
                    {
                        &quot;type&quot;: &quot;text&quot;,
                        &quot;text&quot;: &quot;使用中文回答，图中方框处应该是数字多少?&quot;,
                    },
                    {
                        &quot;type&quot;: &quot;image_url&quot;,
                        &quot;image_url&quot;: {&quot;url&quot;: f&quot;data:image/jpeg;base64,{image_base64}&quot;},
                    },
                ],
            }
        ],
        model=model,
        max_completion_tokens=1024,
        stream=stream,
    )

    if stream:
        for chunk in chat_completion_from_base64:
            print(chunk.choices[0].delta.content, end=&quot;&quot;)
    else:
        result = chat_completion_from_base64.choices[0].message.content
        print(result)


def infer_video():
    video_url = &quot;https://pai-quickstart-predeploy-hangzhou.oss-cn-hangzhou.aliyuncs.com/modelscope/algorithms/ms-swift/video_demo.mp4&quot;

    stream = True

    video_base64 = encode_base64_content_from_url(video_url)

    chat_completion_from_base64 = client.chat.completions.create(
        messages=[
            {
                &quot;role&quot;: &quot;user&quot;,
                &quot;content&quot;: [
                    {&quot;type&quot;: &quot;text&quot;, &quot;text&quot;: &quot;请描述下视频内容&quot;},
                    {
                        &quot;type&quot;: &quot;video_url&quot;,
                        &quot;video_url&quot;: {&quot;url&quot;: f&quot;data:video/mp4;base64,{video_base64}&quot;},
                    },
                ],
            }
        ],
        model=model,
        max_completion_tokens=512,
        stream=stream,
    )

    if stream:
        for chunk in chat_completion_from_base64:
            print(chunk.choices[0].delta.content, end=&quot;&quot;)
    else:
        result = chat_completion_from_base64.choices[0].message.content
        print(result)


if __name__ == &quot;__main__&quot;:
    infer_image()
    infer_video()
</code></pre>
<h3 id="web">Web应用</h3>
<p>点击在线访问链接，跳转到对应的页面就可以直接进行模型服务在线访问了。</p>
        
      </div>

      <div class="copyrights">© 2009-2022 Aliyun.com 版权所有</div>
    </div>
  </div>
  
  <!--
  MkDocs version      : 1.6.1
  Docs Build Date UTC : 2025-06-19 11:39:57.418651+00:00
  -->
</body>
</html>