## 简介
Qwen2.5-VL  是阿里云 Qwen 团队在 Qwen2-VL 基础上结合众多开发者的宝贵反馈构建的更有用的视觉语言模型。其主要增强功能有：

- 视觉理解事物：Qwen2.5-VL不仅能够熟练识别花、鸟、鱼、昆虫等常见物体，而且还能够分析图像中的文本、图表、图标、图形和布局。

- 代理性：Qwen2.5-VL直接扮演视觉代理的角色，具有推理和动态指挥工具的功能，可用于电脑和手机。

- 理解长视频并捕捉事件：Qwen2.5-VL 可以理解超过 1 小时的视频，这次它还具有通过精确定位相关视频片段来捕捉事件的新功能。

- 能够进行不同格式的视觉定位：Qwen2.5-VL 可以通过生成边界框或点来准确定位图像中的对象，并且可以为坐标和属性提供稳定的 JSON 输出。

- 生成结构化输出：对于发票、表格、表格等扫描件数据，Qwen2.5-VL 支持其内容的结构化输出，有利于金融、商业等领域的用途。

{% include './docs/template/mllm-instructions.md' %}



