## Introduction
Qwen3 is the latest generation of large language models in the Qwen series, offering a range of Dense and Mixture of Experts (MOE) models. Through extensive training, Qwen3 has made breakthrough advancements in reasoning, instruction following, agent capabilities, and multilingual support, featuring the following key characteristics:

- Unique support for seamless switching between thinking mode (for complex logical reasoning, mathematics, and coding) and non-thinking mode (for efficient general conversation), ensuring optimal performance across various scenarios.
- Significantly enhanced reasoning abilities, surpassing previous QwQ (in thinking mode) and Qwen2.5 instruction models (in non-thinking mode) in mathematics, code generation, and common sense logical reasoning.
- Excellent human preference alignment, demonstrating outstanding performance in creative writing, role-playing, multi-turn dialogues, and instruction following, providing a more natural, engaging, and immersive conversational experience.
- Proficient in Agent capabilities, able to precisely integrate external tools in both thinking and non-thinking modes, leading performance among open-source models in complex agent-based tasks.
- Support for over 100 languages and dialects, with strong multilingual understanding, reasoning, instruction following, and generation capabilities.

## Deployment Configuration
0.6B, 1.7B, 4B, 8B models require a minimum configuration of 24GB VRAM for deployment

14B model requires a minimum configuration of 48GB VRAM for deployment

30B, 32B models require a minimum configuration of 96GB VRAM for deployment

235B model requires a minimum configuration of 8* 96GB VRAM for deployment

{% include './docs/template/llm-instructions-en.md' %}