## 简介
Cosmos-Reason1 是一款可完全定制的多模态 AI 推理模型，它专门为理解运动、物体交互以及时空关系而构建。基于思维链（Chain-of-thought, CoT）推理，Cosmos-Reason1 模型可以解读视觉输入、根据给定的提示词预测结果、并奖励最佳决策。该模型基于真实世界的物理规律实现推理，从而生成清晰且能够感知上下文环境的自然语言回复。Cosmos-Reason1 能够通过充当判别器或对海量视觉数据进行标注，从而增强合成数据策管能力。 Cosmos-Reason1 基于 Qwen2.5-VL 使用物理常识和具身推理数据进行后训练，并使用了监督微调（SFT）和强化学习（RL）技术。

{% include './docs/template/mllm-instructions.md' %}
